- name: copy MongoDB repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: install mongodb service
  ansible.builtin.package:
    name: mongodb-org
    state: present 

- name: allow remote connections 
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: enable and start service 
  ansible.builtin.service:
    name: mongod
    enabled: yes
    state: started
